.date span{
	background: #ff7c67 !important;
	color: #333 !important;
}

header, footer {
	background: #fff !important;
}

header {
	border-bottom-color: #ccc !important;
}

.options li {
	border-left-color: #ccc !important;
}

.options li.active, .active {
	background-color: #f2f2f2 !important;
}

body{
	background:#f9f9f9 !important;
}

a:hover {
    color: #2d2d2d !important;
}

a {
    color: #b31a00 !important;
}

.menu a:hover {
	color: #ff664d !important;
    background: #fff !important;
    
}

.menu a {
    color: #666666 !important;
	border-top-color: #ddd !important;
}

.menu{
	background:#f2f2f2 !important;
}

.menu li{
	border-bottom-color: #ddd !important;
}

.post-preview {
    border-left-color: #eee !important;
}

h1, h2, h3, h4, h5, h6{
	color: #767676 !important;
}

.underline {
    border-bottom-color: #ddd !important;
}

footer {
    border-top-color: #ddd !important;
    color: #777 !important;
}

article h2 a{
	color:#2d2d2d !important;
}

article h2 a:hover{
	color:#ff3b1a !important;
}

#sbLoading{
	color: #414141 !important;
}

#sbNoWiFi{
	color: #4dc5ff !important;
}

.serverMainColor {
    color:#565656 !important;
}

article{
	color:#565656 !important;
}